

.content.index
{
  padding: 0;
  margin: 0;
  margin-top: -1px;
  min-width: 100%;
}

.frame
{
  display: block;
  width: 100%;
}

.frame.purple
{
  background-color: material-color("purple", "500");
}
.frame.purple-light
{
  background-color: material-color("purple", "400");
}
