.problem {
  width: 100%;
  background-color: material-color('grey','700');
  min-height: 50px;
  padding: 0;
  margin: 8px 0;
  text-align: left;
  //padding: 2px 0;
  overflow: hidden;
}
.problem:hover {
  background-color: material-color('grey','600');
  cursor: pointer;
}
.problem,
.problem .icon {
  @include transition(background-color .15s ease-in-out);
}
.problem .icon {
  width: 60px;
  height: 50px;
  float: left;
  margin-right: 16px;
  padding: 11px 16px;
}
.problem .icon i {
  font-size: 28px;
}
.problem .name {
  font-size: 32px;
}
.problem .value {
  float: right;
  font-size: 32px;
  padding-right: 16px;
  margin-left: 16px;
}
.problem-slide {
  width: 100%;
  height: auto;
  background-color: material-color('grey','600');
  margin-top: -8px;
  float: none;
  position: relative;
}
.problem-slide a:hover,
.problem-slide a:active
{
  color: #fff;
}
.problem-slide.in {
  min-height: 112px;
}
.problem-slide.closed {
  height: 0;
  width: 0;
  overflow: hidden;
  display: none;
}
.problem-slide.complete.in {
  min-height: 168px;
}
.problem-slide .body {
  float: none;
  text-align: left;
  width: 100%;
  padding: 12px 12px 9px 74px;
  position: relative;
}
.problem-slide .body code
{
  word-wrap: break-word;
  word-break: break-all;
}
.problem-slide .body .submit-left {
  position: relative;
  width: 100%;
}
.problem-slide .body .submit-right {
  position: relative;
  width: 64px;
}
.problem-slide .selectbox {
  float: left;
  width: 60px;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  z-index: 1;
}
.problem-slide .select {
  width: 59px;
  position: absolute;
}
.problem-slide .select button {
  width: 60px;
  height: 56px; //50px
  border: none;
  padding-top: 7px;
  @include transition(background-color .15s ease-in-out);
}
.problem-slide .problem-submit
{
  margin-top: 18px;
}
.problem-slide .problem-submit .form-control {
  font-size: 24px;
  padding: 3px 12px !important;
  background-color: #616161;
  color: #fff !important;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  height: 36px;
  @include transition(background-color .15s ease-in-out);
}
.problem-slide .problem-submit .form-control:active::-webkit-input-placeholder {
  @include transition(color .15s ease-in-out);
}
.problem-slide .problem-submit .form-control:active:-moz-placeholder {
  @include transition(color .15s ease-in-out);
}
.problem-slide .problem-submit .form-control:active::-moz-placeholder {
  @include transition(color .15s ease-in-out);
}
.problem-slide .problem-submit .form-control:active::-ms-input-placeholder {
  @include transition(color .15s ease-in-out);
}
.problem-slide .problem-submit .form-control:active::-webkit-input-placeholder {
  color: material-color("grey", "200");
}
.problem-slide .problem-submit .form-control:active:-moz-placeholder {
  color: material-color("grey", "200");
}
.problem-slide .problem-submit .form-control:active::-moz-placeholder {
  color: material-color("grey", "200");
}
.problem-slide .problem-submit .form-control:active::-ms-input-placeholder {
  color: material-color("grey", "200");
}
.problem-slide .problem-submit .form-control:focus::-webkit-input-placeholder {
  color: material-color("grey", "200");
}
.problem-slide .problem-submit .form-control:focus:-moz-placeholder {
  color: material-color("grey", "200");
}
.problem-slide .problem-submit .form-control:focus::-moz-placeholder {
  color: material-color("grey", "200");
}
.problem-slide .problem-submit .form-control:focus::-ms-input-placeholder {
  color: material-color("grey", "200");
}
.problem-slide .problem-submit .btn {
  margin: 0;
  height: 36px !important;
  font-size: 20px;
  border: 0;
  border-radius: 0;
  background-color: material-color("grey", "700");
  margin-left: 6px;
  padding: 0px 24px;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.problem-slide .problem-submit
{
  box-shadow: none;
}
.problem-slide .problem-submit .btn i {
  font-size: 24px !important;
  margin-top: -6px;
  margin-left: 4px;
}
.problem-slide .problem-submit input {
  margin-left: -1px;
}
.problem-slide .selectbox .select:nth-child(1) {
  top: 0;
}
.problem-slide .selectbox .select:nth-child(2) {
  top: 56px;
}
.problem-slide .selectbox .select:nth-child(3) {
  display: none;
  top: 56px * 2;
}
.problem-slide.complete .selectbox .select:nth-child(3) {
  display: block;
}
.problem-slide .select.active button,
.problem-slide .select.active button:hover {
  background-color: material-color('grey','600')!important;
}
.problem.web.complete,
.problem.web .icon,
.web .selectbox,
.problem-slide.web .select button,
.problem-slide.web .problem-submit .btn.active,
.categorybar.web .progress .progress-bar {
  background-color: $color-web;
}
.problem-slide.web .select button:hover,
.problem.web.complete:hover,
.problem.web:hover .icon,
.problem-slide.web .problem-submit .btn.active:hover {
  background-color: lighten($color-web, 10%);
}
.problem-slide.web .problem-submit .form-control:active,
.problem-slide.web .problem-submit .form-control:focus
{
  background-color: $color-web;
  border-color: $color-web;
}

.problem.crypto.complete,
.problem.crypto .icon,
.crypto .selectbox,
.problem-slide.crypto .select button,
.problem-slide.crypto .problem-submit .btn.active,
.categorybar.crypto .progress .progress-bar {
  background-color: $color-crypt;
}
.problem-slide.crypto .select button:hover,
.problem.crypto.complete:hover,
.problem.crypto:hover .icon,
.problem-slide.crypto .problem-submit .btn.active:hover {
  background-color: lighten($color-crypt, 10%);
}
.problem-slide.crypto .problem-submit .form-control:active,
.problem-slide.crypto .problem-submit .form-control:focus
{
  background-color: $color-crypt;
  border-color: $color-crypt;
}

.problem.forensics.complete,
.problem.forensics .icon,
.forensics .selectbox,
.problem-slide.forensics .select button,
.problem-slide.forensics .problem-submit .btn.active,
.categorybar.forensics .progress .progress-bar {
  background-color: $color-forensics;
}
.problem-slide.forensics .select button:hover,
.problem.forensics.complete:hover,
.problem.forensics:hover .icon,
.problem-slide.forensics .problem-submit .btn.active:hover {
  background-color: lighten($color-forensics, 10%);
}
.problem-slide.forensics .problem-submit .form-control:active,
.problem-slide.forensics .problem-submit .form-control:focus
{
  background-color: $color-forensics;
  border-color: $color-forensics;
}

.problem.reverse.complete,
.problem.reverse .icon,
.reverse .selectbox,
.problem-slide.reverse .select button,
.problem-slide.reverse .problem-submit .btn.active,
.categorybar.reverse .progress .progress-bar {
  background-color: $color-reverse;
}
.problem-slide.reverse .select button:hover,
.problem.reverse.complete:hover,
.problem.reverse:hover .icon,
.problem-slide.reverse .problem-submit .btn.active:hover {
  background-color: lighten($color-reverse, 10%);
}
.problem-slide.reverse .problem-submit .form-control:active,
.problem-slide.reverse .problem-submit .form-control:focus
{
  background-color: $color-reverse;
  border-color: $color-reverse;
}

.problem.binary.complete,
.problem.binary .icon,
.binary .selectbox,
.problem-slide.binary .select button,
.problem-slide.binary .problem-submit .btn.active,
.categorybar.binary .progress .progress-bar {
  background-color: $color-binary;
}
.problem-slide.binary .select button:hover,
.problem.binary.complete:hover,
.problem.binary:hover .icon,
.problem-slide.binary .problem-submit .btn.active:hover{
  background-color: lighten($color-binary, 10%);
}
.problem-slide.binary .problem-submit .form-control:active,
.problem-slide.binary .problem-submit .form-control:focus
{
  background-color: $color-binary;
  border-color: $color-binary;
}

.problem.algo.complete,
.problem.algo .icon,
.algo .selectbox,
.problem-slide.algo .select button,
.problem-slide.algo .problem-submit .btn.active,
.categorybar.algo .progress .progress-bar {
  background-color: $color-algo;
}
.problem-slide.algo .select button:hover,
.problem.algo.complete:hover,
.problem.algo:hover .icon,
.problem-slide.algo .problem-submit .btn.active:hover{
  background-color: lighten($color-algo, 10%);
}
.problem-slide.algo .problem-submit .form-control:active,
.problem-slide.algo .problem-submit .form-control:focus
{
  background-color: $color-algo;
  border-color: $color-algo;
}

.problem.misc.complete,
.problem.misc .icon,
.misc .selectbox,
.problem-slide.misc .select button,
.problem-slide.misc .problem-submit .btn.active,
.categorybar.misc .progress .progress-bar {
  background-color: $color-misc;
}
.problem-slide.misc .select button:hover,
.problem.misc.complete:hover,
.problem.misc:hover .icon,
.problem-slide.misc .problem-submit .btn.active:hover {
  background-color: lighten($color-misc, 10%);
}
.problem-slide.misc .problem-submit .form-control:active,
.problem-slide.misc .problem-submit .form-control:focus
{
  background-color: $color-misc;
  border-color: $color-misc;
}

.problem-submit.has-success .help-block {
  color: material-color('green','a200');
}
.problem-submit.has-failure .help-block {
  color: material-color('red','a200');
}

/** PROBLEMS BAR **/
$problems-bar-font-size: 20px;

.categorybar.web
{
  margin-top: 0px;
}
.categorybar
{
  width: 100%;
  padding: 0 14px;
  height: 30px;
}
.categorybar i
{
  font-size: $problems-bar-font-size;
  margin-right: 6px;
  position: relative;
  top: -50px;
  padding-left: 8px;
}
.categorybar .name
{
  font-size: $problems-bar-font-size;
  display: inline;
  position: relative;
  top: -58px;
  vertical-align: middle;
}
.categorybar .progress {
  display: inline-block;
  height: $problems-bar-font-size + 8px;
  background-color: material-color("grey", "700");
}
.categorybar .progress .progress-bar {
  min-width: 36px;
}
.categorybarwrapper{
  margin-bottom: 32px;
}
