.problem
{
  width: 100%;
  background-color: $gray-700;
  height: 50px;
  padding: 0px;
  margin: 8px 0;
  text-align: left;
  padding: 2px 0;
}
.problem:hover
{
  background-color: $gray-600;
}
.problem:hover .icon
{
  background-color: $blue-400;
}
.problem,
.problem .icon
{
  @include transition(background-color .15s ease-in-out);
}
.problem .icon
{
  width: 59px;
  height: 50px;
  float: left;
  margin-top: -1px;
  margin-right: 16px;
  padding: 11px 16px;
}
.problem .icon i
{
  font-size: 28px;
}
.problem .name
{
  font-size: 32px;
}
.problem .value
{
  float:right;
  font-size: 32px;
  padding-right: 16px;
}

.problem.web .icon
{
  background-color: $color-web;
}
.problem.crypto .icon
{
  background-color: $color-crypt;
}
