/** FONTS **/

@import url(https://fonts.googleapis.com/css?family=VT323);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Rules for using icons as black on a light background.
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background.
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/** COLORS **/
$black: #000;
$white: #fff;
$purple-50: #F3E5F5;
$purple-100: #E1BEE7;
$purple-200: #CE93D8;
$purple-300: #CE93D8;
$purple-400: #AB47BC;
$purple-500: #9C27B0;
$purple-600: #8E24AA;
$purple-700: #7B1FA2;
$purple-800: #6A1B9A;
$purple-900: #4A148C;
$purple-a100: #EA80FC;
$purple-a200: #E040FB;
$purple-a400: #D500F9;
$purple-a700: #AA00FF;

$gray-50: #FAFAFA;
$gray-100: #F5F5F5;
$gray-200: #EEEEEE;
$gray-300: #E0E0E0;
$gray-400: #BDBDBD;
$gray-500: #9E9E9E;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;

$blue-500: #2196F3;
$blue-800: #1565C0;
$blue-a400: #2979FF;
$indigo-500: #3F51B5;
$indigo-800: #283593;
$red-500: #F44336;
$red-800: #C62828;
$red-a400: #FF1744;
$red-a700: #D50000;
$deeporange-500: #FF5722;
$deeporange-a400: #FF3D00;
$orange-500: #FF9800;
$orange-800: #EF6C00;
$orange-a400: #FF9100;
$yellow-500: #FFEB3B;
$yellow-a400: #FFEA00;
$amber-500: #FFC107;
$amber-a400: #FFC400;
$green-500: #4CAF50;
$green-800: #2E7D32;
$green-a400: #00E676;
$green-a700: #00C853;

$bg-color-index: $gray-900;
$bg-color-compete: $gray-800;
$color-text-success: $green-a700;
$color-text-failure: $red-a700;

/** MIXINS **/
@mixin transition($string) {
  -webkit-transition: $string;
     -moz-transition: $string;
      -ms-transition: $string;
          transition: $string;
}

/** MAIN **/
*
{
  margin: 0;
}
body
{
  font-family: 'VT323';
  background-color: $bg-color-index;
  color: $white;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
}
html, body
{
  height: 100%;
}
img.logo
{
  padding: 60px 0 20px 0;
  width: 100%;
  max-width: 600px;
}
.logo.med
{
  width: 280px;
}
.hidden
{
  display: none;
  height: 0;
  padding: 0;
  margin: 0;
}
.no-display{
  display: none;
}
.right
{
  text-align: right;
}
.left
{
  text-align: left;
}
.center
{
  text-align: center;
}
.nopad
{
  padding: 0!important;
}
button:focus,
img:focus {
  outline: 0!important;
}

/** TEXT **/

.text
{
  display: inline;
}
h0, .h0
{
  font-size: 4.0em;
}
h1, .h1
{
  font-size: 3.4em;
}
h2, .h2
{
  font-size: 2.2em;
}
h3, .h3
{
  font-size: 1.8em;
}
h4, .h4
{
  font-size: 1.5em;
}
div.asterisk
{
  font-size: 0.7em;
  vertical-align: top;
  color: rgb(224, 64, 221);
}
.rightconditional
{
  text-align: right;
}
.spacetop
{
  margin-top: 4px!important;
}
.toppos
{
  vertical-align: top;
}

/** COLORS **/

.gray-100
{
  color: $gray-100;
}
.gray-200
{
  color: $gray-200;
}
.gray-300
{
  color: $gray-300;
}
.gray-400
{
  color: $gray-400;
}
.gray-600
{
  color: $gray-600;
}
.gray-700
{
  color: $gray-700;
}
.white
{
  color: $white;
}
.purple-a200
{
  color: $purple-a200;
}
.purple-a400
{
  color: $purple-a400;
}
.success-text,
.green {
  color: $color-text-success;
}
.failure-text,
.red{
  color: $color-text-failure;
}

/** LINKS **/
a,
a:visited
{
  color: #bdbdbd;
  text-decoration: underline;
}
a:active,
a:hover,
a:focus
{
  color: #E040FB;
}
a.clickable
{
  cursor: pointer;
}
a.button
{
  color: inherit;
  text-decoration: none;
}
a.full
{
  height: 100%;
  width: 100%;
  vertical-align: middle;
  display: block;
}

.forgotpass:hover,
.forgotpass:active,
.forgotpass:focus
{
  color: #bdbdbd!important;
}

/** BUTTONS **/

.btn
{
  font-size: 40px;
  border-radius: 0;
  padding: 6px 18px 6px 18px;
  margin-bottom: 6px;
  margin-top: 6px;
  text-decoration: none;
}
.btn.wide
{
  width: 380px;
  text-align: left;
}
.btn.maxwidth
{
  width: 100%;
  text-align: center!important;
}
.btn.sm
{
  font-size: 24px;
  padding: 2px 9px 2px 25px;
}
.btn.xs
{
  font-size: 22px;
  padding: 0px 0px 0px 9px;
  margin: 5px 0px -6px 0px;
  height: 40px;
}
.btn.noleftpad
{
  padding-left: 0;
  padding-right: 0;
}
.btn.expand
{
  width: 100%;
}
.btn:active
{
  box-shadow: inset 0 4px 8px rgba(0,0,0,.25);
}
.btn i
{
  font-size: 40px;
  vertical-align: middle;
  padding-bottom: 10px;
  padding-right: 12px;
}
.btn.sm i
{
  font-size: 26px;
  padding-bottom: 2px;
  padding-right: 20px;
}
.btn.xs i
{
  font-size: 26px;
  padding-bottom: 2px;
  padding-right: 12px;
}

.btn.purple
{
  color: #fff;
  background-color: rgb(224, 64, 251);
  border: 4px rgb(224, 64, 251) solid;
}
.btn.purple:hover,
.btn.purple:focus
{
  background-color: #d500f9;
}
.btn.disabled
{
  background-color: #ccc;
  border: 4px #ccc solid;
}
.btn.disabled:hover,
.btn.disabled:active,
.btn.disabled:focus
{
  background-color: #ccc;
  border: 4px #ccc solid;
  box-shadow: none!important;
  cursor: default;
}
.btn.centerpad
{
  padding-left: 0;
  text-align: center;
}
.btn.centerpad i
{
  padding-left: 0!important;
  padding-right: 14px;
}

.btn.white
{
  color: #fff;
  border: 4px #bdbdbd solid;
}
.btn.white:hover
{
  background-color: #424242;
}
.btn.white:active
{
  box-shadow: inset 0 4px 8px rgba(0,0,0,.5);
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

/** HEADINGS **/
i.head
{
  font-size: 42px;
  vertical-align: middle;
  margin-top: -8px;
  padding-right: 16px;
}
.text.head
{
  padding-bottom: 6px;
  border-bottom: 2px #9e9e9e dashed;
  width: 400px;
  display: inline-block;
  color: #eeeeee;
}
.headcont
{
  text-align: center;
  width: 100%;
  font-size: 12px;
}

/** FORMS **/
form .form-group label
{
  font-size: 24px;
  font-weight: 100;
  margin-top: -4px!important;
  margin-bottom: 4px!important;
}
form .form-group input.form-control
{
  font-size: 24px;
  padding: 3px 12px!important;
  background-color: rgb(97, 97, 97);
  color: #fff!important;
  border-radius: 0;
  border: 2px solid rgb(97, 97, 97);
  height: 36px;
}
form .form-group .form-control.sm
{
  margin-top: 4px;
}
form .form-group .form-control::-webkit-input-placeholder,
form .form-group .form-control::-webkit-input-placeholder
{ -webkit-transition: color ease-in-out .15s; }
form .form-group .form-control:-moz-placeholder,
form .form-group .form-control:-moz-placeholder
{ -moz-transition: color ease-in-out .15s; }
form .form-group .form-control::-moz-placeholder,
form .form-group .form-control::-moz-placeholder
{ -moz-transition: color ease-in-out .15s; }
form .form-group .form-control::-ms-input-placeholder,
form .form-group .form-control::-ms-input-placeholder
{ -o-transition: color ease-in-out .15s; }

form .form-group .form-control:focus::-webkit-input-placeholder,
form .form-group .form-control:active::-webkit-input-placeholder
{ color: #eee!important; }
form .form-group .form-control:focus:-moz-placeholder,
form .form-group .form-control:active:-moz-placeholder
{ color: #eee!important; }
form .form-group .form-control:focus::-moz-placeholder,
form .form-group .form-control:active::-moz-placeholder
{ color: #eee!important; }
form .form-group .form-control:focus::-ms-input-placeholder,
form .form-group .form-control:active::-ms-input-placeholder
{ color: #eee!important; }

form .form-group.has-success .form-control::-webkit-input-placeholder
{ color: #ccc; }
form .form-group.has-success .form-control:-moz-placeholder
{ color: #ccc; }
form .form-group.has-success .form-control::-moz-placeholder
{ color: #ccc; }
form .form-group.has-success .form-control::-ms-input-placeholder
{ color: #ccc; }
form .form-group.has-failure .form-control::-webkit-input-placeholder
{ color: #ccc; }
form .form-group.has-failure .form-control.failure:-moz-placeholder
{ color: #ccc; }
form .form-group.has-failure .form-control::-moz-placeholder
{ color: #ccc; }
form .form-group.has-failure .form-control::-ms-input-placeholder
{ color: #ccc; }

form .form-group .form-control option
{
  background-color: rgb(97, 97, 97)!important;
}
form .form-group .form-control:active,
form .form-group .form-control:focus,
form .form-group .form-control.focus
{
  box-shadow: 0px 0px 16px rgba(224,64,251,.5);
  background-color: rgb(224,64,251);
  border: 2px solid rgb(224,64,251);
  color: #fff!important;
}
form .form-group .form-control
{
  background-color: rgb(97, 97, 97);
  color: #fff!important;
  border-radius: 0;
  box-shadow: none!important;
  border: 2px solid rgb(97, 97, 97);
  padding: 6px 0px 6px 9px;
}
form .form-group .form-control.large
{
  margin-top: 3px;
  height: 42px;
  font-size: 20px;
}
form .form-group textarea.form-control
{
  font-size: 20px;
}
form .form-group .help-block
{
  text-align: left;
  font-size: 20px;
}

/** FORM STATUS **/
form .form-group.has-success .form-control
{
  background-color: #388E3C;
  color: #fff;
  border: 2px solid #388E3C;
}
form .form-group.has-success .control-label,
form .form-group.has-success .help-block
{
  color: #00C853;
}
form .form-group.has-failure .form-control
{
  background-color: #D84315;
  color: #fff;
  border: 2px solid #D84315;
}
form .form-group.has-failure .control-label,
form .form-group.has-failure .help-block
{
  color: #FF3D00;
}
form .form-group.has-success div.asterisk,
form .form-group.has-failure div.asterisk,
form .form-group.has-warning div.asterisk
{
  color: #fff;
}
.g-recaptcha div {

  margin: 0 auto!important;
}

/*** COMPETE ***/

body.compete
{
  background-color: #424242;
}

/** NAVBAR **/
.navbar
{
  background-color: #212121;
  height: 66px;
  border: 0px;
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,.25);
}
.navbar.profile
{
  margin: 0;
  box-shadow: none;
  z-index: 1;
}
.navbar .container-fluid
{
  border-bottom: 4px solid #9c27b0;
  height: 66px;
}
.navbar.profile .container-fluid
{
  border-bottom: 0!important;
}
.navbar .navbar-header .navbar-brand
{
  width: 200px;
  margin-top: 0px;
}
.navbar .navbar-header .navbar-brand img
{
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.navbar .navbar-brand
{
  margin-top: -8px;
  height: 66px;
}
.navbar .navbar-header
{
  margin-left: 20px;
}
.navbar .navbar-right
{
  margin-right: 20px;
}
.navbar li.navbutton
{
  padding: 0;
  height: 66px;
}
.navbar button.navbutton {
  padding: 0px 5px 0px 5px;
  //line-height: 66px;
  font-size: 18px;
  border: none;
  height: 100%;
  top: 0;
  padding: 0 12px;
  background-color: rgba(0,0,0,0);
  @include transition(background-color ease-in-out .15s);
}
.navbar button.navbutton i{
  font-size: 20px;
}
.navbar button.navbutton-blue:hover {
  background-color: $blue-800;
}
.navbar button.navbutton-blue.active
{
  background-color:$blue-500;
  color: #fff;
}
.navbar button.navbutton-green:hover {
  background-color: $green-800;
}
.navbar button.navbutton-green.active
{
  background-color:$green-500;
  color: #fff;
}
.navbar button.navbutton-red:hover {
  background-color: $red-800;
}
.navbar button.navbutton-red.active
{
  background-color:$red-500;
  color: #fff;
}
.navbar button.navbutton-purple:hover {
  background-color: $purple-800;
}
.navbar button.navbutton-purple.active
{
  background-color:$purple-500;
  color: #fff;
}
.navbar button.navbutton-indigo:hover {
  background-color: $indigo-800;
}
.navbar button.navbutton-indigo.active
{
  background-color:$indigo-500;
  color: #fff;
}
#problemicon{
  padding-bottom: 2px;
}
.navbutton .inner{
  vertical-align: middle;
}
.navbutton .material{
  vertical-align: middle;
}
.navbar .nav li.text
{
  margin: 20px auto;
  vertical-align: middle;
}
.navbar .nav li.button
{
  height: 66px;
}
.navbar .nav li.button .btn
{
  font-size: 26px;
  height: 100%;
  padding: 0 32px 4px 32px;
}
.navbar .nav li.button .btn i
{
  font-size: 32px;
  padding: 0;
}
.navbar .nav li.button .btn.profile.active
{
  color: #fff;
  border: none!important;
  background-color: #9c27b0;
  box-shadow: none;
  height: 66px;
  margin: 0px !important;
}
.navbar.profile .nav li.button .btn.profile.active
{
  height: 67px;
}
.navbar .nav li.button .btn.profile:hover,
.navbar .nav li.button .btn.profile.open
{
  background-color: #616161;
}

.navbar .nav li.button ul.user-dropdown
{
  width: 400px;
  background-color: #616161;
  position: absolute;
  right: 0;
  padding: 6px 6px;
  box-shadow: 0px 4px 0px 4px 12px #212121;
  //z-index: -1;
  border: none!important;
}

.navbar .nav li.button ul.user-dropdown .btn
{
  width: 100%;
  font-size: 25px;
  text-align: left;
  padding: 0px 6px;
  margin: 4px 0;
  background-color: #616161;
  opacity: 0;
}
.navbar .nav li.button ul.user-dropdown .btn
{
  @include transition(opacity ease-in .1s);
}
.navbar .nav li.button ul.user-dropdown .btn:hover,
.navbar .nav li.button ul.user-dropdown .btn:active,
.navbar .nav li.button ul.user-dropdown .btn:focus
{
  background-color: #757575;
  color: #fff;
}
.navbar .nav li.button ul.user-dropdown .btn i,
.compete#left-panel button i
{
  margin-top: -2px;
  font-size: 26px;
}
.navbar .nav li.button ul.user-dropdown a,
.compete#left-panel button i
{
  color: #fff;
  padding: 0px 0px;
  margin: 0px 0px;
}
.navbar .nav li.button ul.user-dropdown .btn div
{
  padding: 0;
  margin: 0;
}

a.noselect
{
  outline: 0!important;
  border: 0!important;
}
/** Mobile Navbar **/

.navbar-collapse.collapsing{
  background-color: #212121;
}

.navbar-collapse.collapse.in{
  background-color: #212121;
}
.navbar-toggle{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.navbar-collapse.collapsing .navbar-right{
  margin-right: 0px;
}
.navbar-collapse.collapse.in .navbar-right{
  margin-right: 0px;
}

.navbar-collapse.collapsing .navbar-right li.navbutton,
.navbar-collapse.in .navbar-right li.navbutton
{
  height: 58px;
}
.navbar-collapse.collapsing .navbar-right button.navbutton,
.navbar-collapse.in .navbar-right button.navbutton {

  width: 100%;
  text-align: left;
  padding-left: 48px;
  font-size: 30px;
  height: 54px;
  margin: 0;
}
.navbar-collapse.collapsing .navbar-right button.navbutton i,
.navbar-collapse.in .navbar-right button.navbutton i
{
  font-size: 32px;
}
#mobile-dropdown-toggle{
  background: none;
  border: 0;
  color: $white;
  padding: 0px;
}

/** BREADBAR **/
.breadbar
{
  display: block;
  width: 100%;
  height: 52px;
  text-align: left;
  padding: 0 36px;
  border: 0;
  margin: 0!important;
}
.breadbar.purple
{
  background-color: $purple-500;
}
.breadbar .tab
{
  width: 200px;
  display: inline-block;
  text-align: center;
  font-size: 24px;
  border: 0;
  height: 52px;
  @include transition(background-color ease-in-out .15s);
}
.breadbar .tab a
{
  padding: 10px;
}
.breadbar .tab i
{
  vertical-align: middle;
  padding-bottom: 4px;
}
.breadbar .tab.active,
.breadbar.purple .tab.active:hover
{
  background-color: $gray-800!important;
  height: 53px;
}
.breadbar.purple .tab:hover
{
  background-color: $purple-400!important;
  height: 52px;
}

/** CONTENT **/
.content
{
  width: 100%;
  padding: 8px 48px 8px 48px;
  text-align: left;
}
.content .left-info
{
  text-align: left;
  width: 180px;
  display: inline-block;
  vertical-align: top;
}
.content .right-info
{
  text-align: left;
  width: auto;
  display: inline-block;
}

/** PROGRESS BARS **/

.progress
{
  width: 100%;
  height: 12px;
  border: 0;
  border-radius: 0;
  overflow-y: visible;
}
.progress .progress-bar
{
  background-color: $green-500;
}
.ranktop
{
  margin-bottom: 4px;
}
.rankbottom
{
  margin-top: -16px;
}
.rankbottom h1.text
{
  margin-top: -4px;
  display: inline-block;
}

/** FOOTER **/
@import 'footer';

/** MEDIA QUERIES **/

/** LG **/
@media all and (max-width: 1199px) {
  .lg-invisible
  {
    display: none!important;
  }
  .lg-visible-block
  {
    display: block!important;
  }
  .lg-visible-inline
  {
    display: inline!important;
  }
}

/** MD **/
@media all and (max-width: 991px) {
  .spacetopcond
  {
    margin-top: 12px!important;
  }
  .md-invisible
  {
    display: none;
  }
}

/** SM **/
@media all and (max-width: 767px) {
  .logo
  {
    max-width: 460px!important;
  }
  .sm-invisible
  {
    display: none!important;
  }
  .sm-visible-block
  {
    display: block!important;
  }
  .sm-visible-inline
  {
    display: inline!important;
  }
  .breadbar .tab
  {
    width: 68px;
  }
  .breadbar .tab.active
  {
    width: 200px;
  }
  .breadbar .tab.active text.sm-invisible
  {
    display:inline!important;
  }
}

/** SM-ISH **/
@media all and (max-width: 620px) {
  .rightconditional
  {
    text-align: center!important;
    font-size: 2em;
  }
  .btn.xs
  {
    width: 100%;
  }
  .smish-invisible
  {
    display: none !important;
  }
  .smish-visible
  {
    display: inline !important;
  }
  .smish-visible-block
  {
    display: block !important;
  }
}

/** XS **/
@media all and (max-width: 480px) {
  .btn.wide.sm,
  .btn.wide.md
  {
    width: 100%;
    font-size: 28px;
    height: 56px;
    height: 56px;
    padding-top: 4px;
    overflow: hidden;
  }
  .btn.wide i
  {
    font-size: 32px;
  }
  .btn.sm
  {
    font-size: 22px;
    height: 50px;
    padding-top: 5px;
    padding-left: 11px;
    overflow: hidden;
  }
  .btn.sm i
  {
    font-size: 28px;
    padding-left: 10px;
    padding-right: 14px;
  }
  .text.head
  {
    font-size: 28px;
    width: 100%;
  }
  .text.head i.head
  {
    font-size: 32px;
    padding-right: 10px;
    margin-left: -6px;
    padding-top: 4px;
  }
  form .form-group .form-control option
  {
    font-size: 14px;
  }
  .xs-invisible
  {
    display: none;
  }
  .breadbar .tab
  {
    width: 68px!important;
  }
  .breadbar .tab.active text.sm-invisible
  {
    display:none!important;
  }
}

/** TRANSITIONS **/
a,
.btn,
form .form-group .form-control
{
  @include transition(border-color ease-in-out .15s);
  @include transition(box-shadow ease-in-out .15s);
  @include transition(background-color ease-in-out .15s);
  @include transition(color ease-in-out .15s);
}
