<div class="categorybarwrapper">
  <div class="categorybar web">
    <div id="progressbarWeb" class="category">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%"></div>
      </div>
      <i class="material-icons">&#xE894;</i>
      <div class="name">Web Exploitation</div>
    </div>
  </div>
  <div class="categorybar crypto">
    <div id="progressbarCrypto" class="category">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%"></div>
      </div>
      <i class="material-icons">&#xE897;</i>
      <div class="name">Cryptography</div>
    </div>
  </div>
  <div class="categorybar forensics">
    <div id="progressbarForensics" class="category">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%"></div>
      </div>
      <i class="material-icons">&#xE90D;</i>
      <div class="name">Forensics</div>
    </div>
  </div>
  <div class="categorybar reverse">
    <div id="progressbarReverse" class="category">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%"></div>
      </div>
      <i class="material-icons">&#xE042;</i>
      <div class="name">Reverse Engineering</div>
    </div>
  </div>
  <div class="categorybar binary">
    <div id="progressbarBinary" class="category">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%"></div>
      </div>
      <i class="material-icons">&#xE90E;</i>
      <div class="name">Binary Exploitation</div>
    </div>
  </div>
  <div class="categorybar algo">
    <div id="progressbarAlgo" class="category">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%"></div>
      </div>
      <i class="material-icons">&#xE155;</i>
      <div class="name">Algorithm</div>
    </div>
  </div>
</div>
