<script src="lib/countdownjs/countdown.min.js"></script>
<script src="js/header.js"></script>

<nav class="navbar profile">
  <div class="container-fluid" id="cont-measure">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/compete/">
        <img alt="LASACTF" src="img/LASA-CTF-Logo-v3-3x-trans-nohighlight.png">
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="text xs-invisible"><h5 class="text gray-400"><div class="h4 text gray-200" id="tdays">12</div><text class="lg-invisible"> <div class="text gray-200">days</div> and </text><span class="hidden lg-visible-inline">:</span><div class="h4 text" id="thours">04</div>:<div class="h4 text" id="tmins">12</div>:<div class="h4 text" id="tsecs">24</div><text class="sm-invisible"> until start</text></h5></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" style="text-align: center;">
        <li class="navbutton"><button class="navbutton navbutton-blue"><i id="problemicon" class="material-icons material">&#xE0E0;</i><text class="inner md-invisible"> PROBLEMS</text></button></li>
        <li class="navbutton"><button class="navbutton navbutton-green"><i class="material-icons material">&#xE86F;</i><text class="inner md-invisible"> SHELL</text></button></li>
        <li class="navbutton"><button class="navbutton navbutton-red"><i class="material-icons material">&#xE8D0;</i><text class="inner md-invisible"> SCOREBOARD</text></button></li>

        <li class="dropdown">
          <li class="dropdown-toggle button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><button type="submit" class="btn profile active" id="profile"><i class="material-icons">&#xE853;</i><text class="sm-invisible"> username</text></button>
          <ul class="dropdown-menu user-dropdown">
            <button class="btn"><i class="material-icons">&#xE90D;</i> YOUR ACCOUNT</button>
            <button class="btn"><i class="material-icons">&#xE7FB;</i> TEAM HACKERS</button>
            <button class="btn"><i class="material-icons">&#xE7FB;</i> CLASSROOM</button>
            <button class="btn"><div class="col-xs-8"><i class="material-icons">&#xE8B8;</i> MANAGEMENT</div><div class="col-xs-4 right"><i class="material-icons gray-400">&#xE879;</i></div></button>
            <button class="btn"><div class="col-xs-8"><i class="material-icons">&#xE868;</i> SUBMIT A BUG</div><div class="col-xs-4 right"><i class="material-icons gray-400">&#xE879;</i></div></button>
            <button class="btn"><div class="col-xs-8"><i class="material-icons">&#xE88F;</i> ABOUT LASACTF</div><div class="col-xs-4 right"><i class="material-icons gray-400">&#xE879;</i></div></button>
            <button class="btn"><i class="material-icons">&#xE8AC;</i> LOG OUT</button>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
