<script src="lib/countdownjs/countdown.min.js"></script>
<script src="js/header.js"></script>

<div class="container-fluid" id="cont-measure">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-collapse" aria-expanded="false">
      <i class="material-icons">&#xE5D2;</i>
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/compete/">
      <img alt="LASACTF" src="img/LASA-CTF-Logo-v3-3x-trans-nohighlight.png">
    </a>
  </div>
  <div class="collapse navbar-collapse" id="header-collapse">
    <ul class="nav navbar-nav smish-invisible" id="countdown">
      <li class="text xs-invisible"><h5 class="text gray-400"><div class="h4 text gray-200" id="tdays">12</div><text class="lg-invisible"> <div class="text gray-200">days</div> and </text><span class="hidden lg-visible-inline">:</span><div class="h4 text" id="thours">04</div>:<div class="h4 text" id="tmins">12</div>:<div class="h4 text" id="tsecs">24</div><text class="sm-invisible"> until start</text></h5></li>
    </ul>

    <ul class="nav navbar-nav navbar-right" style="text-align: center;">
      <li class="navbutton"><button class="navbutton navbutton-blue"><i id="problemicon" class="material-icons material">&#xE0E0;</i><text class="inner md-invisible smish-visible"> PROBLEMS</text></button></li>
      <li class="navbutton"><button class="navbutton navbutton-green"><i class="material-icons material">&#xE86F;</i><text class="inner md-invisible smish-visible"> SHELL</text></button></li>
      <li class="navbutton"><button class="navbutton navbutton-red"><i class="material-icons material">&#xE8D0;</i><text class="inner md-invisible smish-visible"> SCOREBOARD</text></button></li>

      <li class="dropdown">
        <li class="dropdown-toggle button smish-invisible" id="desktop-dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><button type="submit" class="btn profile active" id="profile"><i class="material-icons">&#xE853;</i><text class="sm-invisible"> username</text></button>
          <ul class="dropdown-menu user-dropdown" id="desktop-dropdown">
            <button class="btn"><i class="material-icons">&#xE90D;</i> YOUR ACCOUNT</button>
            <button class="btn"><i class="material-icons">&#xE7FB;</i> TEAM HACKERS</button>
            <button class="btn"><i class="material-icons">&#xE7FB;</i> CLASSROOM</button>
            <button class="btn"><div class="col-xs-8"><i class="material-icons">&#xE8B8;</i> MANAGEMENT</div><div class="col-xs-4 right"><i class="material-icons gray-400">&#xE879;</i></div></button>
            <button class="btn"><div class="col-xs-8"><i class="material-icons">&#xE0BE;</i> CONTACT US</div><div class="col-xs-4 right"><i class="material-icons gray-400">&#xE879;</i></div></button>
            <button class="btn"><div class="col-xs-8"><i class="material-icons">&#xE88F;</i> ABOUT LASACTF</div></button>
            <button class="btn"><i class="material-icons">&#xE8AC;</i> LOG OUT</button>
          </ul>
        </li>
      </li>
      <li class="navbutton hidden smish-visible"><button class="navbutton navbutton-purple"><i class="material-icons material">&#xE853;</i><text class="inner md-invisible smish-visible"> PROFILE</text></button></li>
      <li class="navbutton hidden smish-visible"><button class="navbutton navbutton-indigo sm"><i class="material-icons material">&#xE0BE;</i><text class="inner md-invisible smish-visible"> CONTACT US</text></button></li>
      <li class="navbutton hidden smish-visible"><button class="navbutton navbutton-logout sm"><i class="material-icons material">&#xE8AC;</i><text class="inner md-invisible smish-visible"> LOG OUT</text></button></li>
    </ul>
  </div>
</div>
