<div class="breadbar purple">
  <span class="tab" id="profileTab">
    <a href="#" class="clickable button full">
      <i class="material-icons">&#xE90D;</i><text class="sm-invisible"> Account</text>
    </a>
  </span>
  <span class="tab" id="teamTab">
    <a href="#" class="clickable button full">
      <i class="material-icons">&#xE7FB;</i><text class="sm-invisible"> Team</text>
    </a>
  </span>
  <span class="tab" id="aboutTab">
    <a href="#" class="clickable button full">
      <i class="material-icons">&#xE88F;</i><text class="sm-invisible"> About</text>
    </a>
  </span>
</div>
