<script src="js/scorebar-full.js"></script>
<div class="col-xs-6 ranktop nopad">
  <h2 class="color-grey-400 text">Level </h2><h1 class="white text" id="textLevel">3</h1>
</div>
<div class="col-xs-6 ranktop nopad right">
  <h1 class="white text" id="textXP">420</h1><h2 class="color-grey-400 text"> XP</h2>
</div>
<div class="progress rank">
  <div class="progress-bar" id="graphProgress" role="progressbar" style="width: 0%"></div>
</div>
<div class="col-xs-6 nopad toppos rankbottom smish-invisible">
  <h2 class="color-grey-400 text toppos">Rank: </h2><h1 class="white text toppos" id="textRank">93</h1>
</div>
<div class="col-xs-6 nopad rankbottom right smish-invisible">
  <h1 class="white text toppos" id="textNext">80</h1><h2 class="color-grey-400 text toppos" style="padding-left: 8px">XP to next level</h2>
</div>
