<div class="breadbar orange">
  <span class="tab active" id="scoresTab">
    <a href="/ranked" class="clickable button full">
      <i class="material-icons">&#xE838;</i><text class="header-md-invisible"> Ranked</text>
    </a>
  </span>
  <span class="tab" id="scoresTab">
    <a href="/unranked" class="clickable button full">
      <i class="material-icons">&#xE83A;</i><text class="header-md-invisible"> Unranked</text>
    </a>
  </span>
  <!--<span class="tab" id="hallOfFameTab">
    <a href="/halloffame" class="clickable button full">
      <i class="material-icons">&#xE84F;</i><text class="header-md-invisible"> Hall of Fame</text>
    </a>
  </span>
  <span class="tab" id="teamStatsTab">
    <a href="/teamstats" class="clickable button full">
      <i class="material-icons">&#xE922;</i><text class="header-md-invisible"> Team Stats</text>
    </a>
  </span>
  <span class="tab" id="globalStats">
    <a href="/globalstats" class="clickable button full">
      <i class="material-icons">&#xE894;</i><text class="header-md-invisible"> Global Stats</text>
    </a>
  </span>-->
</div>
