/** FONTS **/

@import url(https://fonts.googleapis.com/css?family=VT323);
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Rules for using icons as black on a light background.
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background.
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/** MAIN **/

body
{
  font-family: 'VT323';
  background-color: #212121;
  color: #ffffff;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
}
img.logo
{
  padding-top: 60px;
}
.logo.med
{
  width: 480px;
}

/** TEXT **/

div.text
{
  display:inline;
}
h1, .h1
{
  font-size: 3.4em;
}
h2, .h2
{
  font-size: 2.2em;
}
h3, .h3
{
  font-size: 1.8em;
}

/** BUTTONS **/

.btn
{
  font-size: 40px;
  border-radius: 0;
  padding: 6px 18px 6px 18px;
  margin-bottom: 6px;
  margin-top: 6px;
}
.btn.wide
{
  width: 380px;
  text-align: left;
}
.btn:active
{
  box-shadow: inset 0 4px 8px rgba(0,0,0,.25)
}
.btn i
{
  font-size: 40px;
  vertical-align: middle;
  padding-bottom: 10px;
  padding-right: 12px;
}

.btn.purple
{
  color: #fff;
  background-color: rgb(224, 64, 251);
  border: 4px rgb(224, 64, 251) solid;
}
.btn.purple:hover
{
  background-color: #d500f9;
}

.btn.white
{
  color: #fff;
  border: 4px #bdbdbd solid;
}
.btn.white:hover
{
  background-color: #424242;
}

/** HEADINGS **/
i.head
{
  font-size: 42px;
  vertical-align: middle;
  margin-top: -8px;
  padding-right: 16px;
}
.text.head
{
  padding-bottom: 6px;
  border-bottom: 2px #9e9e9e dashed;
  width: 400px;
  display: inline-block;
  color: #eeeeee;
}
div.headcont
{
  text-align: center;
  width: 100%;
}
